---
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
import type { RecipePost } from "../lib/contentful";
import Card from "../components/Card.astro";
import { marked } from "marked";
import { formatDate } from "../services/formatDate";

const entries = await contentfulClient.getEntries<RecipePost>({
  content_type: "recipe",
  limit: 6,
  order: "-fields.publishDate",
});

const posts = entries.items.map((item) => {
  const {
    title,
    publishDate,
    slug,
    featuredImage,
    categories,
    author,
    excerpt,
  } = item.fields;
  const post = {
    title: title,
    slug: slug,
    publishDate: formatDate(publishDate),
    featuredImage: featuredImage?.fields?.file?.url,
    author: author?.fields,
    excerpt: excerpt,
    categories: categories?.map(({ fields }) => fields),
  };
  return post;
});
---

<Layout title="Petites delicias. Recetas francesas y del mundo.">
  <main>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
          <h2
            class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
          >
            Petites delicias
          </h2>
          <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Recetas francesas y del mundo.
          </p>
        </div>
        <div class="grid gap-8 lg:grid-cols-2">
          {
            posts.map((post) => (
              <Card
                title={post?.title}
                body={post?.excerpt}
                href={`./${post.slug}`}
                date={post?.publishDate}
                imageUrl={post?.featuredImage}
                author={post?.author}
                categories={post?.categories}
              />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
